@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
body {
  font-family: "Questrial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-gold {
  background-color: #c7914c;
}
.bg-darkness {
  background-color: #262829;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navbar */
.nav-bg {
  background-color: transparent;
}
.shadow {
  text-shadow: 1px 1px 1px #000000;
}

/* Banner */
.banner {
  height: 90vh;
  background-image: url("/src/images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.left-order {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.banner-h1 {
  font-size: 4rem;
}
.banner-text {
  margin-left: 8%;
}

/* Home Information */

.home-info {
  height: fit-content;
  letter-spacing: 0.1rem;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* Footer */
.footer {
  background-image: url("/src/images/footer.jpg");
  letter-spacing: 0.1rem;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.footer-img {
  background-image: url("/src/images/footer-img.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60%;
  width: 60%;
}
.footer-item {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.footer a {
  text-decoration: none;
  color: #f8f9fa;
}
.footer a:hover {
  text-decoration: none;
  color: rgb(209, 209, 209);
}
.footer-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.max-width {
  max-width: 100%;
  margin: 0;
}

/* Gallery */
.mid-banner {
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery-banner {
  background-image: url("/src/images/gallery-banner.jpg");
}
.carousel-item {
  height: 70vh;
}
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Login */
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.login-box {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  display: flex;
  flex-direction: column;
}
.login-banner {
  background-image: url("/src/images/login-banner.jpg");
}

/* Menu */

.menu-item {
  height: 50vh;
}
.menu-img {
  height: 50%;
}
.menu-img img {
  height: 100%;
  /* width: 100%; */
  object-fit: cover;
}
.menu-img img:hover {
  width: 100%;
}
.menu-text {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.space {
  height: 10vh;
}
.box {
  padding-left: 5%;
  padding-right: 5%;
}

/* About */
.about-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
}
.about-text {
  height: 40vh;
}
.about-1 {
  background-image: url("./images/about1-min.jpg");
}
.about-2 {
  background-image: url("./images/about2-min.jpg");
}
.about-3 {
  background-image: url("./images/about3-min.jpg");
}
